[2016-10-24 15:12] minrk opened #2 "enable MPI"
now that we've got a feedstock, we should enable building with MPI

[2016-10-24 15:14] minrk opened #3 "build with PETSc"
once PETSc is building, we should link dolfin with PETSc

https://github.com/conda-forge/staged-recipes/pull/1488

[2016-10-24 15:14] minrk opened #4 "include mshr?"
Should we be including mshr in the fenics package?

[2016-10-24 15:15] minrk opened #5 "link hdf5"
fenics should link hdf5, but it should be a parallel build and conda-forge only has a serial hdf5 package.

cf https://github.com/conda-forge/hdf5-feedstock/issues/51

[2016-10-27 13:12] basnijholt commented on #4
@RafalSkolasinski you might have an opinion here?

[2016-10-27 13:15] RafalSkolasinski commented on #4
mshr is crucial for one member in our group

[2016-10-27 13:17] garth-wells commented on #4
As a priority, I would rank it below adding PETSc and MPI support, and below adding a dev version.

[2016-10-27 13:19] garth-wells opened #6 "Add dev version"
Would be helpful to have a dev version, since this package makes it easier to install on cloud services, which in turn will drive work on the dev version to enhance support for browser based visualisation.

[2016-10-27 13:23] mikaem commented on #6
dev branch has been created and tests are currently running.

[2016-10-27 13:27] mikaem commented on #4
Agree @garth-wells. mshr could also be a package of its own...

[2016-10-27 13:30] garth-wells commented on #4
Separate package is a good idea. mshr tends to be a bit fragile.

[2016-10-28 12:12] minrk commented on #4
I'm fine either way. In-person dicsussion today suggested that dolfin-adjoint be its own package, so I am happy to do the same for mshr.

[2016-10-28 14:03] mikaem commented on #6
I did a little check on the circle error (https://circleci.com/gh/conda-forge/fenics-feedstock/16) and entered the docker image after it had failed (I ran `bash ci_support/run_docker_build.sh`).  When I go to the directory of _la.so in the test that fails `/opt/conda/envs/_test/lib/python2.7/site-packages/dolfin/cpp`  and enter `import _la` in python I get `ImportError: ./_la.so: undefined symbol:

[2016-10-28 14:26] garth-wells commented on #6
I know what the problem is - we need a PETSc include guard. I'll fix
shortly.

Garth

On 28 Oct 2016 15:04, "Mikael Mortensen" <notifications@github.com> wrote:

https://circleci.com/gh/conda-forge/fenics-feedstock/16) and entered the
docker image after it had failed (I ran bash
ci_support/run_docker_build.sh). When I go to the directory of _la.so in
the test that fails
/opt/conda/envs/_test/lib/p

[2016-10-28 14:28] mikaem commented on #6
Ok, great, then I'll leave the recipe as it is for now.

[2016-10-29 11:22] garth-wells commented on #5
We're working towards supporting serial HDF5 in DOLFIN.

[2016-10-29 11:25] garth-wells commented on #6
Passing all test as of ebbd2993afaa675b0b9b32b0c60b685715f7f699.

[2016-10-29 11:25] #6 closed

[2016-11-01 19:47] #2 closed

[2016-11-01 19:47] #3 closed

[2016-11-03 14:30] RafalSkolasinski opened #15 "ImportError: No module named _common"
I tried to install ``fenics`` into conda env
[code]

and hit following import problem:
[code]

[2016-11-03 21:44] garth-wells commented on #15
Hmm, works fine for me on https://notebooks.azure.com.

[2016-11-03 21:45] minrk commented on #15
@RafalSkolasinski what's the host OS / version?

[2016-11-03 21:57] RafalSkolasinski commented on #15
It's a bit ancient but still supported:
[code]

[2016-11-03 22:04] mikaem commented on #15
Does it work with python 3? You have a python 3 anaconda version as default, right?
Could you perhaps go to `/home/rskolasinski/miniconda3/envs/fenics/lib/python2.7/site-packages/dolfin/cpp/`and do `import _common`? could give some more info on what goes wrong.

[2016-11-03 22:31] RafalSkolasinski commented on #15
Okay, I tried also on newer os (Mint 18)
[code]

it doesn't work in both Python 2 and Python 3 env.

When I got to the folder you specified and try to ``import _common`` I got
[code]

[2016-11-04 07:51] mikaem commented on #15
Weird, boost=1.61.* is a listed runtime dependency for fenics. You should have it under `/home/rskolasinski/miniconda3/envs/fenics/lib/`. Could you check? Perhaps show us the entire log from the installation of the environment?

[2016-11-04 09:08] mikaem commented on #15
I can reproduce this on a continuumio/miniconda3 docker (https://hub.docker.com/r/continuumio/). The boost installed is for some reason from the defaults channel and it's version 1.60. With an additional `conda install -c conda-forge boost=1.61` everything works just fine.

[2016-11-05 11:53] RafalSkolasinski commented on #15
Yes, installing ``boost=1.6.1`` from ``conda-forge`` solves the issue. However it must be ``1.6.1``. I only did first
[code]
which installed ``1.6.2`` and had same import problem as in the beginning.

[2016-11-14 11:48] oseledets opened #17 "Fails compilation on MacOS"
I have installed fenics in the Mac Os X using conda-forge,
installed went normally, but the demo example fails (run from a jupyter notebook).
https://fenicsproject.org/documentation/dolfin/dev/python/demo/documented/auto-adaptive-poisson/python/documentation.html

It fails:
[code]

[compile.txt](https://github.com/conda-forge/fenics-feedstock/files/589113/compile.txt)

[2016-11-14 13:02] mikaem commented on #17
Hi
Could it be that you don't have the Xcode Command Line Developer Tools installed? (if not run `xcode-select --install` in a terminal after installing Xcode)

[2016-11-14 20:07] oseledets commented on #17
MacBook-Ivan-2:otchet-2016 ivan$ xcode-select --install
xcode-select: error: command line tools are already installed, use "Software Update" to install updates

Maybe the reason is here:
  export MACOSX_DEPLOYMENT_TARGET=10.9
in
https://github.com/conda-forge/fenics-feedstock/blob/master/recipe/build.sh
I have 10.12 (Sierra)

[2016-11-15 09:34] mikaem commented on #17
The MACOSX_DEPLOYMENT_TARGET is the earliest OSX that this will run on. It's working on my OSX 10.11, so I'm not quite sure what's going on here, except to refer to #16.

[2016-11-16 11:03] minrk commented on #17
@oseledets what did you get from `conda list`? I believe this should have been fixed by build 4.

[2016-11-17 18:43] oseledets commented on #17
@minrk (fenics) MacBook-Ivan-2:fenics ivan$ conda list | grep conda-forge
blas                      1.1                    openblas    conda-forge
boost                     1.61.0                   py27_2    conda-forge
eigen                     3.2.8                         2    conda-forge
fenics                    2016.2.dev               py27_3    conda-forge
icu                       56.1

[2016-11-17 20:00] oseledets commented on #17
@minrk @mikaem  I have manually installed 2016.1.0-py27_4 instead of 2016.2.dev-py27_3 which is installed by default, and now it works. I suppose it should not work like this :)

[2016-11-17 22:29] minrk commented on #17
The fix has been applied to the stable package, but not the dev package.

[2016-11-18 07:24] mikaem commented on #17
@minrk but why is dev still being uploaded to main?

[2016-11-18 09:44] minrk commented on #17
@mikaem I'm not sure, I think something must have gone wrong, either here or on anaconda.org. Investigating.

@jakirkham any idea why the prerelease builds might be getting the prerelease label *in addition to* main, rather than instead of? It seems this has happened since upload, but I'm not sure.

[2016-11-21 17:59] RafalSkolasinski commented on #4
Are there any news about ``mshr``?

[2016-12-07 02:58] sophia-wright-blue commented on #17
Hi, I was able to successfully install FEniCS on OS X using conda (i'm able to import dolfin), but running a demo program gives an error, just like this issue. the version I have installed in 2016.2.dev-py27_3.

How do I manually install 2016.1.0-py27_4?

Thanks,

[2016-12-09 16:11] minrk commented on #17
@sophia-wright-blue if you do:

     conda install fenics==2016.1.0

you should get the latest build (py27_5). There does appear to be an upstream bug I'm investigating, where openblas has been upgraded and some links are broken. In which case the temporary fix may be to:

    conda install openblas==0.2.18

while waiting for https://github.com/conda-forge/petsc-feedstock/pull/4 to land (it will b

[2016-12-09 18:16] sophia-wright-blue commented on #17
Thank you replying @minrk . I tried both conda install fenics==2016.1.0 and conda install openblas==0.2.18 and now i get the following error:

Calling FFC just-in-time (JIT) compiler, this may take some time.

 warnings.warn(_use_error_msg)
In instant.recompile: The module did not compile with command 'cmake -DDEBUG=TRUE .',
..
RuntimeError: In instant.recompile: The module did not compile with co

[2016-12-12 20:15] jbweston commented on #4
FYI we have a working recipe for `mshr` [here](https://gitlab.kwant-project.org/qt/mshr-conda-recipe) It's on the [quantumtinkerer](https://anaconda.org/quantumtinkerer/mshr) channel on Anaconda.

[2016-12-15 11:49] minrk commented on #15
#21 pins boost to 1.62, which should fix this. I'm not sure why conda allowed 1.62 to be installed with the previous version, since that violates the dependencies of the package. Seems like it would have to be a bug in conda to allow that to happen.

[2016-12-15 11:51] minrk commented on #17
I'm not sure what the cause would be. Hopefully there's more enlightening info in the instant error file. I think 2016.2 should be ready to go today (#21), so hopefully that will fix whatever issues are happening here.

[2016-12-15 12:52] #15 closed

[2016-12-15 13:47] minrk commented on #17
@sophia-wright-blue the 2016.2.0 build should be out. Can you give it a try? A clean environment might be useful:

    conda create -n fenics fenics
    source activate fenics

When I do this, `conda list` gives me:

[code]

[2016-12-15 13:55] minrk commented on #4
@jbweston would you like to submit your mshr recipe to conda-forge/staged-recipes? I can do it, too, if you would prefer.

[2016-12-15 14:18] jbweston commented on #4
@minrk I think you are more familiar with how to make conda-smithy compatible "feedstock" repositories, so it would be best if you do it.

[2016-12-15 14:21] jbweston commented on #4
Also note that the tests for the recipe currently consist of "can we import mshr?" which is perhaps a somewhat less-than-foolproof test battery.

[2016-12-16 21:33] jakirkham commented on #17
No idea the cause, but we are aware of the problem. Suspect something funky in our upload script or what the script uses to do it. Personally haven't had time to look at it, but would definitely appreciate more eyes/ideas on this problem.

xref: https://github.com/conda-forge/conda-forge-build-setup-feedstock/issues/41

[2016-12-16 21:54] sophia-wright-blue commented on #17
@minrk i tried the following:

conda create -n fenics fenics gave the following error:

PackageNotFoundError: Package not found: '' Package missing in current osx-64 channels:
  - fenics

i tried conda install -c conda-forge fenics=2016.2.0 directly, and conda list includes all the packages that you have listed above, but on trying 'from dolfin import *', i get the following error:

ImportError: N

[2016-12-17 18:40] minrk commented on #17
Sorry, I didn't realize you didn't have conda-forge enabled by default. In that case, the first command would be:

    conda create -n fenics -c conda-forge fenics

You can enable conda-forge as one of your default channels with:

    conda config --add channels conda-forge

in which case you won't need `-c conda-forge` anymore.

Probably not. It's almost certainly a failure to load a dependency.

[2016-12-17 21:03] sophia-wright-blue commented on #17
conda list gives me the following output:

# packages in environment at /Users/sophiaw/anaconda/envs/fenics:
#
blas                      1.1                    openblas    conda-forge
boost                     1.62.0                   py27_0    conda-forge
bzip2                     1.0.6                         3
ca-certificates           2016.9.26                     0    conda-forge
certifi

[2016-12-19 09:08] minrk commented on #17
Can you edit the file

    /Users/sophiaw/anaconda/lib/python2.7/site-packages/dolfin/cpp/common.py

to add the line:

[code]

at the top, and then try to import dolfin again? Swig has generated some weird code that hides the original error, which is frustrating.

[2016-12-19 09:11] mikaem commented on #17
Or just `cd /Users/sophiaw/anaconda/lib/python2.7/site-packages/dolfin/cpp` and do `import _common`. Usually does the trick for me.

[2016-12-19 11:03] looooo opened #23 "is gcc, cmake really needed at runtime?"

[2016-12-19 12:34] sophia-wright-blue commented on #17
i added the line: from . import _common to the file /Users/sophiaw/anaconda/lib/python2.7/site-packages/dolfin/cpp/common.py, and tried import dolfin again in ipython to get the following output:

In [1]: import dolfin.cpp._common
---------------------------------------------------------------------------
ImportError                               Traceback (most recent call last)
<ipython-input-1-

[2016-12-19 14:53] minrk commented on #17
Indeed, that's what we are looking for. It's failing to load openblas, which is odd, because it looks like you have the right version. What do you get in `ls -l /Users/sophiaw/anaconda/lib` and `otool -l /Users/sophiaw/anaconda/lib/libdolfin.2016.2.0.dylib`

[2016-12-20 10:28] sophia-wright-blue commented on #17
the output is pretty long, i've posted it separately;

 the output for ls -l /Users/sophiaw/anaconda/lib is:

total 1608304
-rw-r--r--    2 sophiaw  staff    154497 Mar 16  2015 Tk.icns
-rw-r--r--    2 sophiaw  staff     53684 Mar 16  2015 Tk.tiff
-rw-r--r--    2 sophiaw  staff       607 Jul 27 17:39 charset.alias
drwxr-xr-x    4 sophiaw  staff       136 Dec  7 08:03 cmake
drwxr-xr-x   14 sophiaw

[2016-12-20 10:30] sophia-wright-blue commented on #17
the output for otool -l /Users/sophiaw/anaconda/lib/libdolfin.2016.2.0.dylib is:

Mach header
      magic cputype cpusubtype  caps    filetype ncmds sizeofcmds      flags
 0xfeedfacf 16777223          3  0x00           6    36       3120 0x00118085
Load command 0
      cmd LC_SEGMENT_64
  cmdsize 712
  segname __TEXT
   vmaddr 0x0000000000000000
   vmsize 0x0000000000364000
  fileoff 0
 filesize 3

[2016-12-20 14:50] minrk commented on #17
Interesting, your `conda list` output says you have `openblas 0.2.19`, but your actual files show that you have `openblas 0.2.18` instead, which I'm guessing is the problem. This might be fixed by `conda install openblas==0.2.19`, or removing and reinstalling openblas. But perhaps creating a new, clean env would be best:

    conda create -n fenics -c conda-forge fenics
    source activate fenics

[2016-12-21 05:09] sophia-wright-blue commented on #17
I tried both installing openblas==0.2.19, and creating a new env, and still get the same error;

i think i'm going to update the OS X to Sierra, and install Xcode, Anaconda and FEniCS afresh. thanks for being so patient!

[2016-12-21 08:09] mikaem commented on #17
Maybe you should just try resetting Anaconda to its original state first? `conda install --revision 0`. It would also be interesting to see if the same happens with the fenics build in my own private channel: `conda install -c mikaem/label/OSX-10.11-clang -c conda-forge fenics=2016.2`. It's very similar to the conda-forge build, only with VTK and some more PETSc dependencies. And it's built on El

[2016-12-21 10:55] sophia-wright-blue commented on #17
I reset Anaconda to its original state, and installed fenics from your private channel, and got this after trying to import dolfin:

[code]

[2016-12-21 12:21] minrk commented on #17
@sophia-wright-blue can you do the same `cd /Users/sophiaw/anaconda/lib/python2.7/site-packages/dolfin/cpp/ && python -c 'import _common'` to show the true error? If `conda list` still shows that you have openblas 0.2.19, but `ls /Users/sophiaw/anaconda/lib` shows that you don't, it seems like maybe your conda packages have been corrupted, and fully removing and reinstalling them might fix it:

[2016-12-21 15:05] sophia-wright-blue commented on #17
that was indeed the problem - i reinstalled anaconda, and tried installing fenics again, and now i get this error after all the packages have been downloaded:

[code]

Also, after getting this error, i cannot use ipython or spyder anymore;

[2016-12-21 15:23] minrk commented on #17
Sounds like you're hitting this conda bug: https://github.com/conda/conda/issues/3494. You might be able to get by with a `conda install 'conda<4.2'` and then try installing again.

[2016-12-21 16:03] sophia-wright-blue commented on #17
that worked!! thank you so much!! i hate to take up even more of your time, but I was wondering if i could also install mshr along with fenics 2016.2.0 as it says here: https://anaconda.org/quantumtinkerer/mshr

[2017-01-04 15:43] johannesring opened #24 "FEniCS should depend on specific SWIG version"
FEniCS should depend on a specific SWIG version or else it will lead to problems like [this](https://fenicsproject.org/qa/12046/incompatible-swig-versions-detected-in-conda-installation).

[2017-01-09 10:49] minrk commented on #24
Can do. How tightly to we need to pin swig? Minor version or patch?

conda already pins numpy for any package that depends on it, so that should already be covered.

[2017-01-09 10:58] johannesring commented on #24
If you by patch mean 11 in swig version 3.0.11, then it should be patch.

[2017-01-09 15:14] #24 closed

[2017-01-09 15:20] jschueller opened #29 "runtime dependencies"
I doubt swig, cmake, gcc, eigen, pkg-config are runtime dependencies.
If boost is not linked it should be removed also.

[2017-01-09 15:25] garth-wells commented on #29
FEniCS uses just-in-time compilation, so they are required.

[2017-01-09 15:35] #29 closed

[2017-01-09 15:35] jschueller commented on #29
ok, sorry.

[2017-01-26 19:26] flothesof commented on #17
Hi,
I've just run into a similar error.
I started by installing FEniCS into my usual Python environment using conda. This gives me the obscured error message above
[code]
So I created a new conda environment to check if the issue was with some other stuff I had installed:
[code]
After running within this environment I got the same error. Looking into the temp directory created with the log I found

[2017-01-27 13:51] basnijholt commented on #4
@jbweston just added https://github.com/conda-forge/staged-recipes/pull/2290 😄

[2017-01-30 10:21] minrk commented on #4
Sorry, should have commented here. https://github.com/conda-forge/staged-recipes/pull/2159 just landed, waiting for the feedstock to finish building (https://github.com/conda-forge/mshr-feedstock). I had to do a bit of fiddling to get the mac builds to finish, but they work now.

[2017-01-30 10:52] minrk commented on #17
I'm a bit surprised that xcrun is required, that might be something to look into. Did you have Xcode command-line tools installed? I expect that would be required to do jit on macs.

[2017-01-30 13:06] flothesof commented on #17
Hi Min,
No, command line tools were not installed. Could the situation be improved
that fenics checks that upon installation? Would be worth for new users, I
think.

Regards
Florian

On Jan 30, 2017 11:52 AM, "Min RK" <notifications@github.com> wrote:

[2017-01-30 21:22] minrk commented on #4
mshr feedstock first build is finished.

[2017-01-30 21:22] #4 closed

[2017-02-13 14:03] minrk commented on #17
That could be something to bring up with fenics itself: a better error when compilers are not available.

[2017-02-16 21:54] basnijholt opened #32 "unable to install in base-notebook for Jupyterhub"
In trying to setup a Jupyterhub using the provided `base-notebook` I get the following error:

[code]

reproduce with:
[code]

or

`env.yml`:
[code]

`Dockerfile`:
[code]

[2017-02-17 10:08] basnijholt commented on #32
Installation is successful after installing `build-essentials`.

Shouldn't conda `gcc` be enough?

[2017-02-17 10:40] minrk commented on #32
It looks like conda's using `ld` as part of post-link, which fires before the the gcc package is installed.  You might have a better experience being based on `minimal-notebook` or `scipy-notebook`, which do have build-essential.

[2017-02-17 12:39] mingwandroid commented on #32
Post-link is run after installation unless you've got a bug in conda. Our `gcc` package doesn't include a linker, and at present we don't provide any linker, so you need a system binutils installed. Sorry about that.

[2017-02-17 13:07] basnijholt commented on #32
Thanks for the explanation.

We use the `jupyter/base-notebook` to avoid the massive dependency chain.

Closing as I think this is not a bug of the build :)

[2017-02-17 13:07] #32 closed

[2017-02-23 10:35] ryanpepper opened #35 "Fails to import correctly on RedHat Linux"
Tried installing on our compute cluster at the University of Southampton, installs fine but when trying to import in Python
[code]

[2017-02-23 10:35] ryanpepper commented on #35
(This is using Python 3.5.2)

[2017-02-23 18:55] sophia-wright-blue opened #36 "Error installing FEniCS on OS X"
I had FEniCS installed on OS X El Capitan and it was working perfectly through Anaconda (Spyder), but it stopped working today, and when I tried to re-install FEniCS, i got the following error:

[code]

and here is the conda info:

[code]

anyway to fix this?

thank you,

[2017-02-24 08:35] johannesring commented on #36
You get the same error message also when you just run `conda info`, so this is clearly not a problem with the conda fenics package. You should report this problem to https://github.com/conda/conda/issues as the error message says.

[2017-02-24 08:35] #36 closed

[2017-02-26 19:53] minrk commented on #35
What do you see in `conda list` and `ls /scratch/rp20g15/anaconda/envs/py35/lib/libumf*`?

[2017-02-27 17:59] sophia-wright-blue opened #37 "FEniCS conda Mac OS X questions"
Hello, I've installed FEniCS via conda on Mac OS X Sierra, and am able to import dolfin. I have a few questions:

1. Is mshr available on the FEniCS conda package? I get the error 'no module named mshr' when I try to import mshr.

2. I also get an error 'name TimeSeries is not defined'. Is there anyway to fix this?

3. What is the best way to run a FEniCS script in Anaconda? I'm using Spyder, but

[2017-02-28 09:50] johannesring commented on #37
1. mshr must be installed separately: https://github.com/conda-forge/mshr-feedstock/
2. `TimeSeries` requires HDF5 but DOLFIN is built without it (issue #5)
3. The conda package is using matplotlib as the default plotting backend. After calling `plot` do
[code]
4. I don't know. Maybe you can try upgrading Anaconda again?

This is not an issue so I'm closing this. For support use the [FEniCS suppor

[2017-02-28 09:50] #37 closed

[2017-03-03 12:03] ryanpepper commented on #35
Apologies it's taken me so long to get back to you.

I've got no idea why, but it's started working now. I tried logging in / out again at the time, but for some reason it's importing and running correctly.

Thanks for writing the Conda package by the way, it's much easier for me to use FEniCs with this than through Docker and has made a big difference to my workflow.

[2017-03-03 12:03] #35 closed

[2017-03-14 15:42] xmjiao opened #39 "petsc with hypre and ml"
The fenics build is missing some preconditions based on hypre and ml. It seems that it is because petsc was not built with hypre and ml, leaving some important preconditions out. The docker image supports both. Would you please enable hypre and ml for petsc? Thanks!

[2017-03-14 15:47] garth-wells commented on #39
This is an issue for the PETSc conda package (https://github.com/conda-forge/petsc-feedstock). There are some issues around it, e.g https://github.com/conda-forge/petsc-feedstock/issues/12 and https://github.com/conda-forge/petsc-feedstock/issues/11.

[2017-03-14 15:47] #39 closed

[2017-05-01 13:07] RafalSkolasinski opened #40 "dependency conflict with pinned anaconda"
It seems that when one wants to have environment with pinned anaconda and fenics there is some dependency conflict:

[code]

[2017-05-03 09:41] minrk commented on #40
I see a much less helpful conflict error (conda 4.2.13, macOS):

[code]

When I do the install in two steps, I see a few changes, perhaps having to do with numpy

[code]

Maybe the conflict has to do with linking openblas instead of mkl?

[2017-05-03 11:47] minrk commented on #40
Unpinning fenics results in fenics-2016.1 being installed, which suggests that there's something different in the pinning. The only difference in dependencies between fenics 2016.1 and 2016.2 are boost and swig:

[code]

Since the same swig is installed in both cases, the bump in boost is the likely culprit, which we can trigger by trying to install boost directly instead of fenics, which triggers

[2017-05-03 11:56] RafalSkolasinski commented on #40
@minrk Thank you for a wonderful analysis of the problem and your feedback!

[2017-05-16 21:48] terjekv opened #43 "Installing mpi4py breaks JIT."
After installing Anaconda 4.3.1 and fenics from conda-forge, everything seems to work very well. The JIT works and the tests I have pass fine. However, I have received user requests for mpi4py with the install. After mpi4py is installed, JIT fails with the following error:

`"PETSc was configured with MPICH but now appears to be compiling using a non-MPICH mpi.h"

I have attached the complete comp

[2017-05-25 18:18] minrk commented on #43
How are you installing mpi4py?

[2017-05-25 22:27] minrk commented on #43
strange, that should get mpi4py linked against mpich. What's

    conda list --show-channel-urls

?

[2017-06-14 08:37] madsheiervang opened #44 "Fatal error in MPI_Init_thread: Other MPI error, error stack:"
I've installed FEniCS through Anaconda on Mac OS X 10.12. When trying to run the first tutorial script I encounter the following error.

(fenicsproject) $ python ft01_poisson.py
Fatal error in MPI_Init_thread: Other MPI error, error stack:
MPIR_Init_thread(474)..............:
MPID_Init(190).....................: channel initialization failed
MPIDI_CH3_Init(89).................:
MPID_nem_init(320).

[2017-06-14 16:08] johannesring commented on #5
Does DOLFIN 2017.1 work with serial HDF5? In that case, we should enable this and rebuild the package.

[2017-06-14 16:19] garth-wells commented on #5
@chrisrichardson says that DOLFIN 2017.1 works with serial HDF5.

[2017-06-14 16:21] johannesring commented on #5
Good - I will try to add it.

[2017-06-15 07:59] johannesring commented on #5
I can confirm that the serial HDF5 seems to be working fine with DOLFIN.

[2017-06-15 08:00] johannesring commented on #5
Fixed in pull request #45.

[2017-06-15 08:00] #5 closed

[2017-06-15 23:26] lbluque opened #46 "ModuleNotFoundError: No module named '_common'"
Maybe similar to #15 & #21
I am trying to install fenics from Anaconda on Linux:

`4.10.13-1-ARCH #1 SMP PREEMPT Thu Apr 27 12:15:09 CEST 2017 x86_64 GNU/Linux`

I am using miniconda3, python=3.6.1, conda=4.3.21

I created an environment and installed with:

`conda create -n fenicsproject -c conda-forge fenics`

fenics=2017.1.0 is succesfully installed, but when running: `import fenics`

I get the

[2017-06-16 12:57] johannesring opened #47 "ImportError: libhdf5.so.10: cannot open shared object file: No such file or directory"
After adding HDF5 the other day everything seemed to be working fine, however, now I get this error when importing dolfin:

[code]
I see that a new version of HDF5 was uploaded yesterday (in PR [#73](https://github.com/conda-forge/hdf5-feedstock/pull/73)) and that could be the reason for this error.

[2017-06-17 09:47] ChrisRackauckas commented on #46
I'm having the same issue on CentOS 7. Recent fenics update did:

[code]

and now:

[code]

[2017-06-19 06:45] johannesring commented on #47
I assume that this will be fixed if we rebuild against the new HDF5.

[2017-06-19 07:25] johannesring commented on #47
We should probably pin a specific version of HDF5 in build/run requirements to avoid problems like [this](https://groups.google.com/forum/#!topic/fenics-support/2j9_XwGwixM).

[2017-06-20 12:48] Phesao commented on #46
I have the same issue. Downgrading fenics to an older version works for me as a workaround.

[2017-06-20 18:20] lbluque commented on #46
Unfortunately downgrading is not doing it for me. I tried 2016.2.0 and 2016.1.0

[code]

[2017-06-21 07:42] johannesring commented on #47
Fixed now in PR #48.

[2017-06-21 07:42] #47 closed

[2017-06-21 07:54] johannesring commented on #46
There is a new updated package now that fixes a similar issue (see issue #47). They might be related, so please try updating the fenics package and see if that fixes the problem.

[2017-07-04 13:48] ChrisRackauckas commented on #46
Still occurs.

[2017-07-04 14:39] isuruf commented on #46
One issue I can see in the case of @ChrisRackauckas is that the system `libstdc++.so` is older than the `libstdc++.so` in the conda environment and julia loads the system lib on startup.

@ChrisRackauckas, can you try the following to start julia and and see if that works.

    `LD_PRELOAD=/home/crackauc/.julia/v0.5/Conda/deps/usr/lib/libstdc++.so.6 julia`

If it works, let's figure out what we ca

[2017-07-07 17:01] kilojoules commented on #46
I have the same problem on mac

    $ conda create -n fenicstest -c conda-forge python=2.7 fenics=2016.1 dolfin-adjoint=2016.1
    Fetching package metadata ...

    ........
    Solving package specifications: .

    Package plan for installation in environment /Users/jquick/miniconda3/envs/fenicstest:

    The following NEW packages will be INSTALLED:

        blas:            1.1-openblas

[2017-07-10 13:20] #46 closed

[2017-08-03 19:53] sophia-wright-blue opened #50 "Errors after installing FEniCS"
Hello, this issue has been raised before, i looked through the previous posts, but could not figure out the solution. I tried installing a previous verison of fenics, and that did not work, and installed the latest version again, and i get the following error,

[code]

Any help to fix this would be greatly appreciated - Thank you.

[2017-08-09 17:46] sophia-wright-blue commented on #50
I'm able to run fenics now. I removed anaconda and reinstalled it using the command line installer. on doing import dolfin, i then got the same error: RuntimeError: module compiled against API version 0xb but this version of numpy is 0xa

 I upgraded fenics using conda upgrade fenics numpy, and now fenics works fine.

 Not sure what i did wrong earlier! Thank you to MinRK for his help.

[2017-08-09 17:46] #50 closed

[2017-08-14 20:52] shihu4937 commented on #46
I had exactly the same problem right now, did you guys found the solutions?

[2017-08-17 15:02] isuruf commented on #46
@shihu4937, can you try `conda install libgcc=4.8`?

[2017-08-17 23:47] srody commented on #46
@isuruf , I am also getting this error message, and libgcc=4.8 did not work for me.

[2017-08-18 00:19] shihu4937 commented on #46
@isuruf Thank you for your reply.   I think my problem is caused by "messing different environment of Fenics. the spyder is launched in root envs, however I changed the envs to fenicsproject in anaconda manully.  another thing is making sure to set the python interpreter correctly in spyder setting.  Now it worked without problem.

[2017-09-12 18:24] essicolo opened #52 "Azure Notebook: ModuleNotFoundError: No module named '_common"
The `ModuleNotFoundError: No module named '_common` error has been reported several times. Still, I have found no way to run fenics locally. I tried remotely with Azure Notebooks (Python 3.6). Still no luck.

 [My Azure Notebook](https://notebooks.azure.com/essicolo/libraries/fenics)

Cell input
[code]
Cell output
[code]

[2017-09-14 17:03] essicolo commented on #52
It seems that fenics requires numpy version 1.13.1 and not version 1.12 that Azure installs. To install it, `pymc` must be removed. Then we are good to go.

[code]

[2017-09-14 17:03] #52 closed

[2017-09-21 03:04] bmmi commented on #44
I tried both python 2.7 and 3.6 on Mac OS X 10.12, same error!

[2017-09-21 07:09] minrk commented on #44
@bmmi what's `conda list`?

[2017-09-21 13:23] bmmi commented on #44
blas                      1.1                    openblas    conda-forge
boost                     1.64.0                   py36_4    conda-forge
boost-cpp                 1.64.0                        1    conda-forge
bzip2                     1.0.6                         1    conda-forge
ca-certificates           2017.7.27.1                   0    conda-forge
certifi                   2017.7.27

[2017-09-21 14:23] minrk commented on #52
@essicolo this has been doubly fixed:

1. pymc on the conda-forge channel has been updated with a build supporting numpy 1.13
2. older fenics 2017.1 builds have been marked as broken due to the incorrect specification of the numpy dependency

so now `conda install fenics=2017.1` should upgrade pymc and get the working build of fenics.

[2017-09-23 19:07] WolferStyle commented on #44
I am having the exact same problem as bmmi. I also have the same results from conda list.

[2017-10-17 21:35] kalefranz commented on #44
I was also able to reproduce this.

[code]

[code]

[code]

[code]

[2017-10-20 10:05] georgreen commented on #44
<img width="831" alt="screen shot 2017-10-20 at 12 51 50 1" src="https://user-images.githubusercontent.com/17669596/31815559-ba0f1f10-b595-11e7-8b1f-e23e016c7d7f.png">

- I encountered a similar situation, as shown above(while using mpich), I found a solution to this though, as the traceback from the error says ` getHostByName failed`: to resolve this just add your hostname to your `etc/host` file

[2017-10-27 12:20] oalii commented on #44
Hi,
I am also dealing with the same issue since today. The thing is, fenics worked just fine yesterday (was able to run some tutorials) ... and I did not change anything on my computer in the meantime (at least not on purpose). Does that make any sense ?

[2017-10-30 08:31] minrk commented on #44
@oalii from the above errors and the successful fix, it sounds like it's a local DNS issue.

In Python, does the following work when you are seeing the error with mpi:

[code]

[2017-10-30 08:59] oalii commented on #44
Hi @minrk,
Thx for the insight.
I tried @georgreen procedure and it worked, indeed.
I am not really familiar with these DNS-related issues, do you have some ref I could check to learn a bit more ?
Thx again !

[2017-11-29 15:07] vijaykrishnamurthy commented on #17
Dear All,

I am getting the same error after installing `Anaconda3-5.0.1-MacOSX-x86_64.sh` and then `conda install fenics`.

I get

[code]

My `conda list` gives
[code]

[2018-02-06 10:11] Ace- opened #57 "version `GLIBCXX_3.4.21' not found (required by /lib64/libboost_timer.so.1.64.0);"
System: Fedora 27
Installation method: Anaconda

The error arises when running any FEniCS python sample file.
[code]

[2018-02-06 18:00] minrk commented on #57
What's `conda list`?

[2018-02-06 19:27] Ace- commented on #57
[condalist.txt](https://github.com/conda-forge/fenics-feedstock/files/1700544/condalist.txt)
Packages in the FEniCS env are listed in the attachment.

[2018-02-12 15:48] aterenin opened #58 "Not compatible with latest `mshr` available on Conda."
Hi,

The latest version `2017.2.0` of FEniCS available is not compatible with the latest version `2017.1.0` of `mshr`. This breaks the FEniCS Julia bindings.

[2018-02-26 10:38] johannesring opened #59 "Rebuild FEniCS against PETSc with MUMPS"
Although PETSc is now built with MUMPS, running `dolfin.list_linear_solver_methods()` shows that MUMPS is not available:
[code]
This is likely because the latest FEniCS package was built before the PETSc package was built with MUMPS. Looking at the [build log](https://circleci.com/gh/conda-forge/fenics-feedstock/84) for `fenics` shows that it was built with `petsc` `3.8.3-blas_openblas_0`, while M

[2018-02-26 11:42] #59 closed

[2018-02-26 17:14] #58 closed

[2018-03-21 11:28] trbedwards commented on #15
I'm having problems getting fenics installed, due to the ModuleNotFoundError. I tried installing boost 1.61, but then I got Unsatisfiable errors because of a conflict between boost 1.61 and ciaro. Then I tried downgrading fenics to 2016.2 and got the same error. Again I tried installing boost 1.61, and now it conflicts with matplotlib. I'm hesitant to uninstall matplotlib, as I'm worried that when

[2018-03-21 12:14] minrk commented on #15
@trbedwards can you install 2017.2.0? Can you include your `conda list`? For older versions of fenics, this has been the result of insufficient pinning, so some packages (e.g. boost) needed to be pinned-down more strictly. I *believe* the pinning in the latest build of the package is sufficiently strict to avoid these problems, but the same may not be true of 2016.x

[2018-03-21 14:02] trbedwards commented on #15
I believe it was the latest version, 2017.2.0, installed by using the command:
`conda install -c conda-forge fenics`.
I'll double check tonight when I have a stable wifi and include the result of `conda list`.

[2018-03-21 15:18] trbedwards commented on #15
I can confirm that I installed fenics 2017.2.0, and I still get this error when import dolfin:
`ModuleNotFoundError: No module named '_common'`

The output from `conda list` is:
[code]

[2018-03-26 17:15] peterwoerner commented on #57
I get a similar error on my hpc server: CentOS Linux release 7.3.1611 (Core)

[code]

[2018-04-23 10:07] piskunow opened #62 "after installing `fenics=2017.2`, `mumps-mpi` breaks other packages that depend on `mumps`"
Installing `fenics=2017.2`, also installs `mumps-mpi`,
which makes my installation of `kwant=dev` stop working.

Another way is to install `fenics=2007.2`, and build `kwant`
from source. In this case, inside a python shell, if you `import kwant`
it warns about not having `mumps` installed. But if you
`import fenics; import kwant` then there is no issue.

Here a snippet to reproduce the bug.

Insta

[2018-05-08 16:09] zie-1 opened #63 "hi, I did upgrade my anaconda and i encounter these errors, may i ask for help on solving these errors?"
CommandNotFoundError: Your shell has not been properly configured to use 'conda activate'.
If your shell is Bash or a Bourne variant, enable conda for the current user with

    $ echo ". C:\Users\Lenovo\Anaconda3/etc/profile.d/conda.sh" >> ~/.bashrc

or, for all users, enable conda with

    $ sudo ln -s C:\Users\Lenovo\Anaconda3/etc/profile.d/conda.sh /etc/profile.d/conda.sh

The options above w

[2018-07-20 12:32] Rfp94 opened #66 "FEniCS 2017.2.0 imcomptible with SymPy 1.2"
Issue:
Hi,
Fenics-JIT compiler is not compatible with latest version of SymPy. Could you fix the dependancies tree ?

https://www.allanswered.com/post/qwqwo/#rrxrr

Best regards,

<br/>

Environment (<code>conda list</code>):

# packages in environment at /home/myname/.conda/envs/FEniCS:
#
blas                      1.1                    openblas    conda-forge
boost                     1.66.0

[2018-07-20 19:38] minrk commented on #66
Thanks! Have you checked with fenics 2018.1, or is it just 2017.2 that needs this?

[2018-07-23 08:31] Rfp94 commented on #66
Sorry, I'm not able to tell you if the conflicts is solved with fenics 2018.1.

[2018-08-13 13:38] sigvaldm commented on #66
This affects 2018.1 as well. As far as I can tell, this has been fixed for the next version (2018.2). See https://bitbucket.org/fenics-project/fiat/issues/27/sympy-12-breaks-diff-of-expression-without . Running `conda install sympy=1.1.1` on a fresh environment with this package installed fixed it for me.

[2018-08-16 13:45] minrk commented on #66
Thanks! #67 pins sympy < 1.2 for 2018.1

[2018-08-29 14:14] #66 closed

[2018-09-11 15:55] ondrejtichacek opened #68 "libfortran.so.4 error on import fenics"
Issue:

I have problem with installing fenics with Anaconda, Ubuntu 16.04. I follow the instructions I found at https://fenicsproject.org/download/, however, when I try to run my python script, I get the following error:

[code]

After trying solution I found online (downgrade libgfortran-ng to version 7.2.0), I get another issue: `CXXABI_1.3.9 not included in libstdc++.so.6`.

<br/>
Environment (

[2018-09-12 07:17] johannesring commented on #68
You have several packages that are not from the conda-forge channel and that could cause conflicts/problems. See if it works if you install everything from conda-forge in a clean environment, like this:

[code]
Do you still have the same problem?

[2018-09-12 08:09] ondrejtichacek commented on #68
Yes, I get the same error:
[code]

[2018-09-12 11:07] johannesring commented on #68
I could not reproduce this in a Ubuntu 16.04 Docker container using the following commands:

Starting the container:
[code]
Inside the Docker container:
[code]
Output:
<details>

[code]

</details>

[2018-10-16 08:21] aradermacher opened #69 "TypeError with PETScVector"
Issue:

We get an TypeError concerning PETSc_exp, if we try to run a Dolfin unix test with fenics installed via anaconda. Has someone an idea how to fix this?
The Error reads:

[code]

The example file (tmp.py) looks like:
<details>
$ tmp.py

[code]
</details>

<br/>
Environment (<code>conda list</code>):
<details>

[code]
</details>

<br/>
Details about  <code>conda</code> and system ( <code>cond

[2018-11-02 11:40] WilliamPJSmith opened #70 "Fenics ImportError: No module named _common"
Issue:

I am trying to install fenics into an existing conda environment. I can install fenics without problems, but when I try to import it from within the environment, I get an error message:

My environment is [cellmodeller](http://haselofflab.github.io/CellModeller/):
[code]
I installed fenics using
[code]
which gave no errors.
However, when I try to import fenics from within my cellmodeller e

[2018-11-03 11:17] WilliamPJSmith commented on #70
Hi minrk,

Thanks for your speedy response!
I've just tried your suggestion by running
[code]
but this gives the error
[code]
The same thing happens if I revert boost to the original version (1.63):
[code]
Any ideas on how to resolve the dependency conflict?
Many thanks!

[2018-11-04 17:42] minrk commented on #70
Try explicitly installing the required version of boost:

    conda install boost=1.67

[2018-11-05 11:35] WilliamPJSmith commented on #70
Hi minrk,

I've just tried this using
[code]
but this is still unsatisfiable:
[code]
I've also tried removing fenics and then reinstalling the 2018.1.0 release you recommended:

[code]
This shows a conflict with the package decorator, on which my program cellmodeller depends:
[code]
Is there another fenics release, with dependencies pinned, that wouldn't suffer from this clash?

[2018-11-06 11:52] minrk commented on #70
conda conflict errors are so often not informative. I found it, and it's in the [cellmodeller package](https://anaconda.org/trudge/cellmodeller/files) (click the `i` next to a package). cellmodeller pins numpy 1.9.2.*, while current fenics requires numpy >= 1.14 (current is 1.15). So cellmodeller must be either rebuilt with a newer numpy if it really does require pinning that tightly, or it should

[2018-11-21 16:50] WilliamPJSmith commented on #70
Hi minrk,

Sorry for the delayed response and many thanks for checking this out. I will enquire Re: a new build of cellmodeller with improved numpy pinning, and report back.

Very best wishes,

Will

[2018-11-21 20:07] minrk commented on #69
Can you try the latest build (2018.1.0_3)? I suspect this was an issue with not pinning pybind11.

[2018-11-22 08:49] CarmenLee111 commented on #70
```$ conda install  -c conda-forge fenics==2018.1.0``` works for me.

[2018-11-22 09:12] minrk commented on #62
This is an issue with how mumps and mumps-mpi are built, containing conflicting file names. It's open on the mumps feedstock [here](https://github.com/conda-forge/mumps-feedstock/issues/34), so I'll close this issue. It should be fixed by a new [mumps-seq](https://github.com/conda-forge/mumps-feedstock/issues/34) which doesn't collide with mumps-mpi.

[2018-11-22 14:38] #62 closed

[2018-11-28 19:11] francesco-ballarin commented on #69
@giovastabile and me tested the latest build today with a package that requires compile_cpp_code, and we confirm that the issue is solved. Feel free to close. Thanks!

[2018-11-29 17:48] #69 closed

[2018-11-29 17:48] minrk commented on #69
Thanks for testing!

[2019-03-28 07:10] z-hasher opened #77 "MUMPS seems to be super slow on Ubuntu 18"
Not sure if this is the right place to ask. I modified the fenics hyperelastic demo to make it with 768k tets (80x80x20 intervals).

On Ubuntu 18, I use Anaconda3 fenics package with MUMPS. Per Newton step, it took about 10 min per Newton step (one direct solve) whether or not MPI is used (when using MPI I used -np 8, the machine is with 8 cores 16 threads).

On my macbook with Anaconda fenics (sa

[2019-05-02 05:44] minrk commented on #77
Can you share `conda list`?

[2019-05-03 16:15] clason opened #81 "LD_LIBRARY_PATH not set correctly on environments"
Issue:

When installing the fenics meta-package into a separate environment, the library paths are not set correctly: Installing fenics using `conda create -n fenicsproject -c conda-forge fenics` creates the following `$CONDA_DIR/envs/fenicsproject/share/dolfin/dolfin.conf`:
[code]

(Note the double env prefix on the `LD_LIBARY_PATH` and `PKG_CONFIG_PATH`.)

With this dolfin.conf, typing
[code]
re

[2019-05-03 16:44] clason commented on #81
Sorry, that path should work as well. Probably a local issue; please ignore.

[2019-05-03 16:44] #81 closed

[2019-05-10 17:34] basnijholt opened #82 "Fenics needs OpenBLAS and doesn't work with MKL"
Somehow Fenics doesn't work with MKL and forces to use OpenBLAS.

See https://github.com/microsoft/qmt/pull/132

[2019-05-28 15:09] isuruf commented on #82
What's the issue with MKL?

[2019-05-28 16:30] basnijholt commented on #82
@likewei92 came across this issue, can you post the details here?

[2019-05-28 18:49] basnijholt commented on #82
I think the problem is that if one tries to install fenics with MKL, it still installs `openblas`:
[code]

Not sure if this is a bug though?

[2019-05-28 18:57] isuruf commented on #82
I don't see any openblas there

[2019-05-28 18:59] basnijholt commented on #82
Oops, I saw it in the output with
[code]
and must have found the wrong entry when Control+F `openblas` in my terminal.

My bad, sorry for the confusion.

The problem appears to be that [this line](https://github.com/microsoft/qmt/pull/132/files#diff-0026da75a37f49f708bb4a7b92a6cfa2R23) should just be `libblas=*=*mkl`.

Thanks for the replies! 👍 😇

[2019-05-28 22:51] basnijholt commented on #82
OK @isuruf, I found the actual problem (and there is an actual problem this time 😛)

Doing

[code]

[code]

then:
[code]

That must have been the problem that @likewei92 observed when he told me about this problem.

[2019-05-28 23:05] isuruf commented on #82
`libblas` is a requirement for dolfin, but is not required in meta.yaml. Because of that dolfin is linking to the openblas package instead of the netlib package.

[2019-05-29 10:16] likewei92 commented on #82
Yeah the issue was as @basnijholt described, you need to manually install openblas in the same environment as fenics in order to use it

[2019-06-08 02:44] #82 closed

[2019-06-10 20:17] gatoniel opened #87 "FileNotFoundError: [Errno 2] No such file or directory: 'c++': 'c++' in miniconda3 image with"
Issue:
Hi,
I know about the Docker image of fenics and have used it. But I need fenics now in combination with scipy in a newer version. So I thought of installing fenics in the miniconda3 image via this Dockerfile
[code]
On my local Windows 10 machine this works and my python code is exectued without errors. But when I build an image with this Dockerfile on our Linux server machine I get this err

[2019-06-28 13:35] waynezw0618 commented on #15
anyone fix that ?
I am using conda to install Fenics with python2.7
here is the my conda list
`# All requested packages already installed.

(fenicsproject) weis-mbp:baseline_flow weizhang$ conda list
# packages in environment at /anaconda2/envs/fenicsproject:
#
# Name                    Version                   Build  Channel
absl-py                   0.7.1                    py27_0
astor

[2019-06-28 14:08] waynezw0618 opened #88 "ImportError: cannot import name HDF5File for Fenics"
Hello I am trying to install fenics in Conda with python2.7. with following error. can anyone help?

Issue:
Traceback (most recent call last):
  File "single_runner.py", line 2, in <module>
    from env import resume_env
  File "/Users/weizhang/software/ML/Cylinder2DFlowControlWithRL/baseline_flow/env.py", line 10, in <module>
    from Env2DCylinder import Env2DCylinder
  File "/Users/weizhang/sof

[2019-06-28 14:43] johannesring commented on #88
The older conda packages of fenics did not have hdf5 support. I think it was added in 2018.1.0, but that version is Python 3 only.

[2019-06-28 15:48] waynezw0618 opened #89 "Conda fenics with Gcc and python 2"
Issue:

Downloading and Extracting Packages
sympy-1.4            | 9.9 MB    | ################################################################################################################################################################# | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: | ERROR conda.core.link:_execute_post_link_actions(658): An error occurre

[2019-06-29 03:17] waynezw0618 commented on #88
thx, I prefer to use old version. how can fix that?

[2019-07-02 09:28] minrk commented on #89
What version of fenics are you trying to install? The current versions do not depend on the old `gcc` package. Can you share the install command you executed, and follow the debugging instruction in the output:

e.g. `conda install -v fenics`

[2019-07-02 13:26] waynezw0618 commented on #89
I am installing Fenics inside a conda docker container which is based on a Debian system.
the command I am using is
'conda  create -n fenicsproject -c conda-forge fenics python=2.7 tensorflow=1.8.0'

[2019-07-02 14:16] minrk commented on #89
Can you share the output including the package installation plan for which versions of packages it is going to try to install?

[2019-07-02 19:50] waynezw0618 commented on #89
root@b76c569405bc:~# conda create -n fenicsproject -c conda-forge fenics python=2.7 tensorflow=1.8.0
WARNING: The conda.compat module is deprecated and will be removed in a future release.
Collecting package metadata: done
Solving environment: done

==> WARNING: A newer version of conda exists. <==
  current version: 4.6.11
  latest version: 4.7.5

Please update conda by running

    $ conda updat

[2019-07-03 07:54] johannesring commented on #89
For earlier versions of FEniCS, you need to use SymPy version 1.1. This works for me:
[code]

[2019-07-03 10:42] waynezw0618 commented on #89
Hi Johannersring, it doesn't work for me . see errors below. any suggestion?

==> script messages <==
<None>

Attempting to roll back.

failed
ERROR conda.core.link:_execute(568): An error occurred while installing package 'defaults::gcc-4.8.5-7'.
LinkError: post-link script failed for package defaults::gcc-4.8.5-7
running your command again with `-v` will provide additional information
location o

[2019-07-03 10:48] waynezw0618 commented on #89
I'd like to know if there is a docker image which installed Fenics=2017.x.0 & tensorflow 1.8.0

[2019-07-03 13:44] johannesring commented on #89
Yes, you can use the `2017.2.0` tag for example:
[code]
You can then install tensorflow inside the Docker container:
[code]
You can find the available tags [here](https://quay.io/repository/fenicsproject/stable?tab=tags).

[2019-07-03 23:01] waynezw0618 commented on #89
Hi Johanners
Thanks. then I can install both simultaneously. now the error goes to the application.
` python single_runner.py
/usr/local/lib/python2.7/dist-packages/requests/__init__.py:83: RequestsDependencyWarning: Old version of cryptography ([1, 2, 3]) may cause slowdown.
  warnings.warn(warning, RequestsDependencyWarning)
iUFL can be obtained from https://github.com/MiroK/ufl-interpreter
resu

[2019-07-04 08:08] johannesring commented on #89
The problem seems to be with NumPy. When you run `sudo pip install tensorflow==1.8.0` it will install a newer version of NumPy and uninstall the version that DOLFIN was built with. Try running `sudo pip install --ignore-installed tensorflow==1.8.0` such that the version of NumPy that DOLFIN needs is not removed. This could lead to problems later though, since you then have two different versions o

[2019-07-04 14:56] hoelzlw opened #90 "Installation of FEniCS via conda fails, because of missing shared libraries for MUMPS-MPI"
Issue:
When installing FEniCS via conda, it pulls the package **mumps-mpi**, version **5.1.2**, build **blas_openblash08140c7_1001**  [blas_openblas].
This package of mumps, however, does not contain shared libraries, but only static ones.

Trying to import dolfin consequently results in the following error
ImportError: libdmumps-5.1.2.so: cannot open shared object file: No such file or directory

[2019-07-05 18:24] waynezw0618 commented on #89
Hi Johannes
thanks . it works now. I have installed this now in my docker container. still there is a problem for plotting.  here is the messages.
  File "/home/fenics/shared/Cylinder2DFlowControlWithRL/baseline_flow/../Env2DCylinder.py", line 575, in visual_inspection
    plt.pause(0.5)
  File "/usr/local/lib/python2.7/dist-packages/matplotlib/pyplot.py", line 295, in pause
    show(block=False)

[2019-07-10 10:42] kociak opened #91 "importing fenics fails because a shared libary is not made"
Trying to import fenics generates the following traceback:

[code]

<br/>
Environment
<details>

[code]
</details>

running Mac OS X 10.14.3

Details about  <code>conda</code> and system ( <code>conda info</code> ):
<details>

[code]
</details>

[2019-07-11 09:58] francescoboc commented on #90
+1 Have exactly the same problem

[2019-07-14 09:14] waynezw0618 commented on #89
Hi Johannes
Now I can install Fenics on my MacBook within a docker images.  it doesn't work with error messages like :

(fenicsproject) root@8b9002f365ee:/home/fenics/shared# python demo_nonlinear-poisson.py
Calling DOLFIN just-in-time (JIT) compiler, this may take some time.
--- Instant: compiling ---
In instant.recompile: The module did not compile with command 'cmake -DDEBUG=TRUE .', see '/usr/

[2019-07-22 12:21] hoelzlw commented on #90
Apparently, this does not happen with conda 4.6.14, but with 4.7.10.
So, not calling `./miniconda3/bin/conda update -n base conda` in the steps above results in working fenics environment.

I don't know, which version of conda introduced this.

Additionally, now with 4.7.10 dolfin seems to work, even though, libdmumps-5.1.2.so is still missing.
At least, I don't get the ImportError anymore.
Howeve

[2019-07-22 12:45] hoelzlw commented on #90
Now it is also not reproducible anymore when using conda-4.7.5 by updating 4.6.14 via `conda install conda==4.7.5`.
Even though, libdmumps-5.1.2.so is still missing, dolfin seems to work., so I close this issue now.

I still heavily recommend to introduce version pinning in the conda recipe to prevent such strange issues in the future.

Best regards
Wolfgang

[2019-07-25 13:01] francescoboc commented on #90
I just tried to install FEniCS using conda 4.7.10 and if i try to import dolfin I still get `ImportError: libdmumps-5.1.2.so: cannot open shared object file: No such file or directory`.
@hoelzlw , what did you do exactly to make it work?

[2019-07-25 15:26] hoelzlw commented on #90
I tested with the wrong system. -.-
Apparently, my test system had mumps installed correctly, so I couldn't reproduce it anymore.
Now I switched to a fresh CentOS 7.5.1804 and can reproduce it again, so I reopen this issue.
</br>

At first:
**FEniCS seems to work with conda-4.6.14.**

Environment at 4.6.14 (<code>/tmp/hoelzlw/miniconda3-4.6.14/bin/conda list --name fenics-conda-4.6.14</code>):
<de

[2019-07-29 15:03] thisch opened #93 "repackage using pybind11-2.3.0"
There is a bug fix in pybind11 (see https://github.com/pybind/pybind11/pull/1211) that allows fenics code to be used in a multi threaded python script. Without this fix there is a deadlock if fenics code is run outside of the main thread.

It would be nice to update to the latest version of pybind11 (2.3.0), where this issue is fixed. Currently 2.2.4 is installed.

[2019-08-01 23:43] shuds13 commented on #90
I have this issue with a different code. Explicitly using conda install mumps-mpi=5.1.2=h5bebb2f_1007 works for me.

[2019-08-02 08:10] clason commented on #90
@shuds13 For me it was `conda install -c conda-forge mumps-mpi=5.1.2=haf446c3_1007`, but yes, this works!

[2019-08-02 10:03] astern commented on #90
I can confirm that "conda install -c conda-forge mumps-mpi=5.1.2=haf446c3_1007" solved the problem for me, too. Thanks!

Cheers,
Ari

[2019-08-02 18:00] minrk commented on #90
I believe this is fixed by the latest builds of petsc and fenics 2019.1 (which pull in mumps-mpi 5.2.1)

[2019-08-02 18:00] #90 closed

[2019-08-02 18:01] minrk commented on #91
Try upgrading fenics and petsc:

    conda install fenics petsc

I think the latest builds should fix this

[2019-08-08 10:04] minrk commented on #89
The best recommendation I have is to use Python 3. Fenics dropped support for the long-deprecated Python 2 some years back, so the Python 2 builds are very old and not updated. Python itself is ending support for Python 2 this year.

There is probably something wrong in the fenics-2017.1 package for Python 2 (likely an insufficiently strict pinning), but it may not be compatible with a more recent

[2019-08-08 10:15] minrk commented on #91
Verified fix:

[code]

[code]

<details>

[code]

</details>

[2019-08-08 10:15] #91 closed

[2019-08-08 10:27] minrk commented on #87
Try running `conda activate -n base` to make sure the conda environment is activated (can set things like $CXX)

[2019-08-08 10:27] #40 closed

[2019-08-08 10:28] minrk commented on #17
this has been fixed with recent builds

[2019-08-08 10:28] #17 closed

[2019-08-08 10:28] #43 closed

[2019-08-16 11:18] #93 closed

[2019-11-07 16:15] thisch opened #97 "Add packages for python 3.8"
Issue:

It is not yet possible to install fenics in a python3.8 conda env.

<br/>
Environment (<code>conda list</code>):
<details>

[code]
</details>

<br/>
Details about  <code>conda</code> and system ( <code>conda info</code> ):
<details>

[code]
</details>

[2019-11-09 10:06] jbweston commented on #97
This is also preventing the `mshr` package from building for python3.8 (see [here](https://github.com/conda-forge/mshr-feedstock/pull/17))

[2019-11-25 18:53] thisch opened #99 "Adapt version pinning of numpy"
fenics is using a different numpy version pinning compared to other projects from the scientific python stack, e.g., scipy/pandas/h5py

https://github.com/conda-forge/scipy-feedstock/pull/100/files
https://github.com/conda-forge/pandas-feedstock/pull/62/files
https://github.com/conda-forge/h5py-feedstock/blob/master/.ci_support/linux_mpiopenmpipython3.7.yaml

**The pinned version of numpy should b

[2019-12-03 10:07] thisch commented on #99
@garth-wells @johannesring @mikaem @minrk  Do you have an opinion about this? Are you in principle in favor of pinning numpy to 1.14?

[2019-12-03 15:23] minrk commented on #99
Do you have a test that shows this? It's a little surprising since those packages are built against 1.14 and should be compatible with any numpy >=1.14,<2.0, which includes 1.16. Only fenics pins numpy to a minor version, and thus appears to be compatible with the latest builds of all of those. Normally, when I install any of these packages, I get numpy 1.17, which doesn't seem to be an issue, and

[2019-12-03 16:48] thisch commented on #99
Thx for your detailed answer. Yes we have tests that show this issue: We build some custom c extensions (those c-extensions are independent of our fenics code) against a newer version of numpy that is required by fenics. This leads to the 'incompatiblity' error msg from the description. We tried to pin the numpy lib to the same version as was used for building scipy/pandas/h5py.., but due to the v

[2019-12-05 09:36] minrk commented on #99
Thanks! Sorry for being unclear, but do you have a test to share here that I can run?

[2019-12-05 09:50] minrk opened #103 "multiple outputs versus the build matrix"
I'd love some advice on best practices

While "fenics" is one project, it's actually several packages with coordinated releases and strict exact-version compatibility:

- ffc, ufl, dijitso, fiat (noarch Python packages)
- libdolfin (C++, requires ffc at buildtime)
- dolfin (compiled Python package, and the main thing folks use directly)
- fenics (metapackage)

Until recently, fenics was a single c

[2019-12-05 10:01] thisch commented on #99
No, we unfortunately don't have one that I can share.

[2019-12-05 10:03] thisch commented on #99
Is it possible to download/install a CI built fenics package from an unmerged PR?

[2019-12-05 10:08] minrk commented on #99
No, unfortunately not. You can build the linux version locally by checking out the branch and running `python build-locally.py linux_` and then installing the resulting packages.

[2019-12-05 14:52] thisch commented on #99
I'm using podman as a container frontend instead of docker. I have a problem with the script, not sure if it is podman related or not:

[code]

[2019-12-05 15:18] #97 closed

[2019-12-05 15:18] #99 closed

[2020-01-03 19:32] NucciTheBoss opened #105 "Cannot use superlu or superlu_dist solvers"
Issue: Cannot use superlu or superlu_dist solvers

I am trying to solve a problem that requires the use of superlu_dist but it does not seem to be configured with PETSc inside my environment. I see however that superlu/5.2.1 and superlu_dist/6.2.0 are installed in the current finics package (<code>$ conda install -c conda-forge fenics</code>), but they do not appear as available methods.

Here is

[2020-01-31 11:30] johannesring commented on #105
Looks like a rebuild is needed since superlu_dist was first added to the petsc package in the end of December ([pull request #77](https://github.com/conda-forge/petsc-feedstock/pull/77)), while the latest build of fenics seems to be from the beginning of December.

[2020-02-26 19:59] prakharrr commented on #44
Any status on this? I seem to be getting the same issue.
I've reinstalled every piece of package from the scratch even unlinked brew kegs and linked them again to remove any missing symlinks but no help :(

[2020-10-25 05:18] sreedta8 opened #112 "Unable to install fenics with conda install - install process terminates with error"
OS: Ubuntu 20.04 LTS on 64-bit machine

Issue: I try to install **fenics** / **libdmumps** / fenics related packages in a conda environment and it results in termination of the install process with errors

<br/>
Environment (<code># packages in environment at /home/blueskies/miniconda3/envs/fenics:
# conda --version conda 4.9.0
# Name                    Version                   Build  Channel
_li

[2021-06-11 20:40] drew-parsons commented on #77
Sometimes unexpected slow MPI performance happens due to threads (effectively overloading the CPUs). For MPI jobs you might want to constrain to 1 thread per MPI process by setting
[code]

[2021-09-17 09:16] johannesring opened #141 "RuntimeWarning: mpi4py.MPI.Prequest size changed"
- [x] I read [the conda-forge documentation](https://conda-forge.org/docs/user/introduction.html#how-can-i-install-packages-from-conda-forge) and could not find the solution for my problem there.

Issue:

When running the python version of the [Poisson demo](https://fenicsproject.org/olddocs/dolfin/latest/python/demos/poisson/demo_poisson.py.html), I see a lot of warnings like this:
[code]

<br/>

[2021-11-10 17:35] abhi-k9 opened #146 "Verification fails with python 3.9"
- [x] I read [the conda-forge documentation](https://conda-forge.org/docs/user/introduction.html#how-can-i-install-packages-from-conda-forge) and could not find the solution for my problem there.

Issue:

<br/>
Environment (<code>conda list</code>):
<details>

[code]
</details>

<br/>
Details about  <code>conda</code> and system ( <code>conda info</code> ):
<details>

[code]
</details>

Trying to

[2021-11-18 04:51] sblauth opened #149 "Problem with superlu_dist 6/7"
- [x] I read [the conda-forge documentation](https://conda-forge.org/docs/user/introduction.html#how-can-i-install-packages-from-conda-forge) and could not find the solution for my problem there.

Issue:

I am having problems installing fenics from conda-forge. The problematic package is "superlu_dist", which recently had version 7 available on conda-forge. The error was the following:

ImportErro

[2021-11-18 05:57] jan-janssen commented on #149
Can you try to enforce `petsc=3.16.0` rather than `petsc=3.16.1` ?

[2021-11-18 07:14] jan-janssen commented on #149
Alternatively you can use the latest build `25` with `petsc=3.16.1` and `superlu_dist>=7`. These issues are related to the missing pinning in `superlu_dist` which I try to get fixed in https://github.com/conda-forge/conda-forge-pinning-feedstock/pull/2202 and https://github.com/conda-forge/superlu_dist-feedstock/pull/35

[2021-11-18 08:48] sblauth commented on #149
I can confirm that it works fine now with build number `25`.
Thanks a lot for the fast reply and the other pull requests (which will hopefully resolve the problem)

[2021-11-18 13:58] #149 closed

[2021-11-18 14:00] jan-janssen commented on #146
I released a new version, can you check if this fixes the issue?

[2021-11-18 14:29] jan-janssen commented on #105
This should be fixed now.

[2021-11-18 14:30] #89 closed

[2021-11-18 14:31] jan-janssen commented on #112
This should be fixed now, otherwise feel free to open a new issue.

[2021-11-18 14:31] #112 closed

[2021-11-18 14:31] #105 closed

[2021-11-18 14:32] jan-janssen commented on #44
This should be fixed now, otherwise feel free to open a new issue.

[2021-11-18 14:32] #44 closed

[2021-11-18 14:32] jan-janssen commented on #57
This should be fixed now, otherwise feel free to open a new issue.

[2021-11-18 14:32] #57 closed

[2021-11-18 14:33] jan-janssen commented on #68
This should be fixed now, otherwise feel free to open a new issue.

[2021-11-18 14:33] #68 closed

[2021-11-18 14:33] jan-janssen commented on #70
This should be fixed now, otherwise feel free to open a new issue.

[2021-11-18 14:33] #70 closed

[2021-11-18 14:33] jan-janssen commented on #77
This should be fixed now, otherwise feel free to open a new issue.

[2021-11-18 14:33] #77 closed

[2021-11-18 14:33] jan-janssen commented on #87
This should be fixed now, otherwise feel free to open a new issue.

[2021-11-18 14:33] #88 closed

[2021-11-18 15:43] abhi-k9 commented on #146
Yes it fixed the issue. Thanks!

Was this caused due to both `superlu-5.2.2` and `superlu-7.1.1` being used at the same time for dependency resolution before?

[2021-11-18 16:26] jan-janssen commented on #146
yes, there was an issue with `superlu_dist` the issue is now fixed and I updated the `superlu_dist` recipe to prevent similar issues in the future. I hope the `fenics` conda package becomes more stable now.

[2021-11-18 16:26] #146 closed

[2022-07-11 09:41] RemDelaporteMathurin opened #162 "PackagesNotFoundError: fenics"
### Solution to issue cannot be found in the documentation.

- [X] I checked the documentation.

### Issue

I can't install fenics.

Running:

[code]

Produces:

[code]

### Installed packages

[code]

### Environment info

[code]

[2022-07-11 13:06] jan-janssen commented on #162
Fenics is not available on Windows - I am sorry .

[2022-07-11 13:08] RemDelaporteMathurin commented on #162
Hi, I was able to run it without any issues a few weeks ago.

Moreover, I have the same error inside linux containers

[2022-07-11 13:27] RemDelaporteMathurin commented on #162
Sure.

So I run the conda install command in the container

[code]

Here's the error:

[code]

[2022-07-12 04:20] minrk commented on #162
The `Incompatible component merge` error is a bug in conda itself: https://github.com/conda/conda/pull/11612 caused by some recent metadata changes in the petsc packages (https://github.com/conda-forge/petsc-feedstock/issues/147). It appears the only current workaround while waiting for various fixes is to use mamba (an alternative conda installer):

[code]

[2022-07-12 08:17] RemDelaporteMathurin commented on #162
I confirm the mamba workaround works! Thanks @minrk !

[2022-07-13 20:31] minrk commented on #162
The metadata has been patched, so installs are working again:

[code]

<details>
<summary>output</summary>

[code]

</summary>

[2022-07-13 20:31] #162 closed

[2022-08-09 10:36] RemDelaporteMathurin opened #164 "Can't use fenics from conda"
### Solution to issue cannot be found in the documentation.

- [X] I checked the documentation.

### Issue

Hi,
I'm trying to install fenics via conda since I need a newer version of python.

I'm using the continuumio/miniconda3 docker image to install fenics via:

[code]

Everything works fine on my windows machine, but when running on ubuntu it seems that the c++ files are not found:
[code]

[Fu

[2022-08-09 11:06] RemDelaporteMathurin commented on #164
It seems this issue is similar to https://github.com/conda-forge/fenics-feedstock/issues/87

[2022-08-09 11:07] RemDelaporteMathurin commented on #164
this is the list of packages on my Windows machine (same docker image) where everything works fine:

[code]

And this is the environment info:

[code]

[2022-08-09 12:46] minrk commented on #164
Have you activated the env? The compiler packages set $CXX, $CC, and friends on environment activation. If you just installed fenics in the base env, try: `conda activate base`.

[2022-08-09 12:56] RemDelaporteMathurin commented on #164
I ran conda activate base but got the following error:

[code]

Also, when I run this environment (docker image + conda install fenics) in Windows, everything works fine and I don't need to do anything to run fenics

[2022-08-09 13:32] minrk commented on #164
I don't know what's different about your Windows and other docker environment, but that lack of `conda init` is definitely the key. I'm not sure if it's how the image is being invoked, or if CMD/ENTRYPOINT are being overridden. A complete example of what's being built/run may help.

You can re-enable the conda command with:

[code]

If you're installing from conda-forge, I might also recommend usi

[2022-08-09 13:42] minrk commented on #164
Note that the `profile.d/conda.sh` will only be run by default for _interactive_ shell sessions, but not noninteractive ones. So you may see a difference between:

[code]

[code]

Ensuring you alwasy invoke an interactive shell:

[code]

is one way to ensure the shell is fully set up

[2022-08-09 13:42] RemDelaporteMathurin commented on #164
Right so here's what i'm building:

My Dockerfile:
[code]

I run it locally with

[code]

Then just to test the implementation I run:

[code]

Locally, everything works fine (no conda init or anything).

What I'm trying to do is having this run in GitHub actions for CI.

My workflow file

[code]

This last step produces this error message:

[code]

When I add `conda init bash` and `conda activate

[2022-08-10 06:23] minrk commented on #164
Add:

[code]

to your workflow file. This will ensure the conda env is activated before each `run` command.

[2022-08-10 07:20] RemDelaporteMathurin commented on #164
Yep that fixed it! Thank you very much @minrk

[2022-08-10 07:20] #164 closed